* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Prop Double", system-ui;
    scroll-behavior: smooth;
}

h1, h2 {
    color: rgb(0, 0, 0);

}

a {
    color: rgb(226, 43, 43);
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
}

body {
    background-color: rgb(255, 255, 255);
}

img, iframe {
    width: 100%;
    vertical-align: middle;
}

.galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10%;
}

.galeria > * {
    width: 30%;
    border: green 3px solid;
}

.galeria > figure {
    position: relative;
}



.galeria > figure > figcaption {
    background-color: rgba(255, 0 , 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: 0.5s;
}

.galeria > figure > figcaption:hover {
  opacity: 100%;
}

header, section {
     border: rgb(22, 22, 22) 3px solid;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

section {
    min-height: 100vh;
    padding: 3% 10%;
}

header {
    min-height: calc(100vh - 3em);
    background-image: url(../img/nuevoedificio.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

header > h1 {
    font-size: 6vw;
    text-align: right;
}

section

/* maquetar menu */
#menu {
    position: sticky;
    top: 0;
}
#menu > ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#menu > ul > li {
    list-style: none;
    border: black 3px solid;
    height: 3em;
    display: flex;
    align-items: center;
}

#uni > p {
    font-size: 1.2%;
}

#menu {
    z-index: 1%;
}

@media screen and (max-width: 1200px) {

    .galeria > figure {
        width: 45%;
    }
}

@media screen and (max-width:650px) {
    section > h2 {
     font-size: 1.5em;
    }
    
}

@media screen and (max-width: 450px) {
    .galeria > figure,
    .galeria > figure {
        width: 100%;
    }
    .galeria > figure > figcaption {
        opacity: 100%;
        position: static;
        height: auto;
        background-color: transparent;
        color: black;
        font-size: 1em;
        font-weight: normal;
        justify-content: start;
}

}